* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
}

body {
  background-color: DarkGreen;
}

.h1 {
  width: 60vh;
  text-align: center;
  margin: 2vw auto;
  font-weight: 700;
  font-size: 3vw;
  color: PaleGreen;
}

.form {
  width: 60vw;
  margin: 2vw auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2vw;
  overflow: hidden;
}

.memes-container {
  display: flex;
  transition: all 1s;
}

.meme {
  width: 60vw;
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5vw;
}

.meme-1 {
  background-image: url('./src/images/01.jpg');
}

.meme-2 {
  background-image: url('./src/images/02.jpg');
}

.meme-3 {
  background-image: url('./src/images/03.jpg');
}

.meme-4 {
  background-image: url('./src/images/04.jpg');
}

.control-1:checked ~ .memes-container {
  transform: translateX(0);
}

.control-2:checked ~ .memes-container {
  transform: translateX(-60vw);
}

.control-3:checked ~ .memes-container {
  transform: translateX(-120vw);
}

.control-4:checked ~ .memes-container {
  transform: translateX(-180vw);
}

.caption {
  width: 40vw;
  display: inline-block;
  line-height: 3vw;
  font-size: 2vw;
  color: PaleGoldenrod; 
  letter-spacing: 0.05rem;
  opacity: 0;
  transform: translateY(3vw);
  transition: transform 0s, opacity 3s;
}

.control-1:checked ~ .captions-container > .caption-1 {
  transform: translateY(-0.5vw);
  opacity: 1;
}

.control-2:checked ~ .captions-container > .caption-2 {
  transform: translateY(-3.5vw);
  opacity: 1;
}

.control-3:checked ~ .captions-container > .caption-3 {
  transform: translateY(-6.5vw);
  opacity: 1;
}

.control-4:checked ~ .captions-container > .caption-4 {
  transform: translateY(-9.5vw);
  opacity: 1;
}

.control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-color: blueviolet;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,1) inset;
  border: 0.75vw solid white; 
  cursor: pointer;
}

.control:checked {
  background-color: white;
}

.control:hover {
  background-color: yellow;
}

.control-1 {
  order: 2;
}

.control-2 {
  order: 3;
}

.control-3 {
  order: 4;
}

.control-4 {
  order: 5;
}

.captions-container {
  width: 50vw;
  height: 2vw;
  order: 1;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .control {
    width: 3vw;
    height: 3vw;
    border-width: 0.9vw;
  }

  .captions-container {
    width: 48vw;
  }
}

@media only screen and (max-width: 640px) {
  
  .h1 {
    font-size: 5vw;
  }

  .form {
    width: 80vw;
  }

  .meme {
    width: 80vw;
    height: 46.65vw;
    border-radius: 0.8vw;
  }

  .captions-container {
    order: 5;
  }

  .caption {
    width: 80vw;
  }

  .control {
    width: 3.5vw;
    height: 3.5vw;
    border-width: 1vw;
  }

  .control-1 {
    margin-left: 30vw;
  }

  .control-4 {
    margin-right: auto;
  } 

  .control-2:checked ~ .memes-container {
    transform: translateX(-80vw);
  }
  
  .control-3:checked ~ .memes-container {
    transform: translateX(-160vw);
  }
  
  .control-4:checked ~ .memes-container {
    transform: translateX(-240vw);
  }

  .caption {
    line-height: 4vw;
    font-size: 2.75vw;
  }

  .control-1:checked ~ .captions-container > .caption-1 {
    transform: translateY(-1vw);
  }
  
  .control-2:checked ~ .captions-container > .caption-2 {
    transform: translateY(-5vw);
  }
  
  .control-3:checked ~ .captions-container > .caption-3 {
    transform: translateY(-9vw);
  }
  
  .control-4:checked ~ .captions-container > .caption-4 {
    transform: translateY(-13vw);
  }

}