* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(22, 59, 41);
  --secondary-color: PaleGoldenrod;
  --auxillary-color: rgb(11, 108, 45); 
  --active-color: PaleGreen;
  --white-color: #fff;
  --gray-color: Gray;
}

body {
  background-color: var(--primary-color);
}

.h1 {
  width: 90vw;
  text-align: center;
  margin: 2vw auto;
  font-weight: 700;
  font-size: 2.8vw;
  color: var(--active-color);
}

.form {
  width: 60vw;
  margin: 0 auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2vw;
  overflow: hidden;
}

.memes-outer {
  border-radius: 0.5vw;
  overflow: hidden;
  border: 1px solid var(--auxillary-color);
}

.memes-container {
  width: 240vw;
  display: flex;
  transition: all 1s;
}

.meme {
  width: 60vw;
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.meme-1 {
  background-image: url('./src/images/01.jpg');
}

.meme-2 {
  background-image: url('./src/images/02.jpg');
}

.meme-3 {
  background-image: url('./src/images/03.jpg');
}

.meme-4 {
  background-image: url('./src/images/04.jpg');
}

.control-1:checked ~ .memes-outer > .memes-container {
  transform: translateX(0);
}

.control-2:checked ~ .memes-outer > .memes-container {
  transform: translateX(-60vw);
}

.control-3:checked ~ .memes-outer >  .memes-container {
  transform: translateX(-120vw);
}

.control-4:checked  ~ .memes-outer > .memes-container {
  transform: translateX(-180vw);
}

.captions-container {
  width: 50vw;
  height: 3vw;
  order: 1;
  overflow: hidden;
}

.caption {
  width: 40vw;
  display: inline-block;
  line-height: 3vw;
  font-size: 2vw;
  color: var(--secondary-color); 
  letter-spacing: 0.05rem;
  opacity: 0;
  transition: transform 0s, opacity 3s;
}

.control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--gray-color);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px var(--white-color) inset;
  border: 0.75vw solid var(--primary-color); 
  cursor: pointer;
}

.control:checked {
  background-color: var(--active-color);
}

.control:active {
  box-shadow: 0px 0px 0px 1px var(--gray-color) inset;
}

.control:hover {
  background-color: var(--secondary-color);
}

.control-1:checked ~ .captions-container > .caption-1 {
  transform: translateY(0);
  opacity: 1;
}

.control-2:checked ~ .captions-container > .caption-2 {
  transform: translateY(-3vw);
  opacity: 1;
}

.control-3:checked ~ .captions-container > .caption-3 {
  transform: translateY(-6vw);
  opacity: 1;
}

.control-4:checked ~ .captions-container > .caption-4 {
  transform: translateY(-9vw);
  opacity: 1;
}

.control-1 {
  order: 2;
}

.control-2 {
  order: 3;
}

.control-3 {
  order: 4;
}

.control-4 {
  order: 5;
}

@media only screen and (max-width: 900px) {
  
  .memes-outer {
    border-radius: 0.8vw;
  }

  .control {
    width: 3vw;
    height: 3vw;
    border-width: 0.9vw;
  }

  .captions-container {
    width: 48vw;
  }
}

@media only screen and (max-width: 680px) {
  
  .h1 {
    font-size: 4.5vw;
    margin: 3vw auto;
  }

  .form {
    width: 80vw;
    row-gap: 3vw;
  }

  .memes-outer {
    border-radius: 1vw;
  }

  .memes-container {
    width: 320vw;
  }

  .meme {
    width: 80vw;
    height: 46.65vw;
  }

  .captions-container {
    order: 5;
  }

  .caption {
    width: 80vw;
    line-height: 3.5vw;
  }

  .control {
    width: 3.5vw;
    height: 3.5vw;
    border-width: 1vw;
  }

  .control-1 {
    margin-left: 30vw;
  }

  .control-4 {
    margin-right: auto;
  } 

  .control-2:checked ~ .memes-outer > .memes-container {
    transform: translateX(-80vw);
  }
  
  .control-3:checked ~ .memes-outer > .memes-container {
    transform: translateX(-160vw);
  }
  
  .control-4:checked ~ .memes-outer > .memes-container {
    transform: translateX(-240vw);
  }

  .captions-container {
    width: 80vw;
    height: 4vw;
    transform: translateY(-2vw);
  }

  .caption {
    line-height: 4vw;
    font-size: 2.75vw;
  }

  .control-1:checked ~ .captions-container > .caption-1 {
    transform: translateY(0);
  }
  
  .control-2:checked ~ .captions-container > .caption-2 {
    transform: translateY(-4vw);
  }
  
  .control-3:checked ~ .captions-container > .caption-3 {
    transform: translateY(-8vw);
  }
  
  .control-4:checked ~ .captions-container > .caption-4 {
    transform: translateY(-12.25vw);
  }

}

@media only screen and (max-width: 520px) {
  
  .memes-outer {
    border-radius: 1vw;
  }

  .control {
    width: 4.5vw;
    height: 4.5vw;
    border-width: 1.4vw;
  }

  .captions-container {
    height: 4.5vw;
  }

  .caption {
    line-height: 4.5vw;
    font-size: 3vw;
    transform: translateY(0.5);
  }

  .control-1:checked ~ .captions-container > .caption-1 {
    transform: translateY(0);
  }
  
  .control-2:checked ~ .captions-container > .caption-2 {
    transform: translateY(-4.5vw);
  }
  
  .control-3:checked ~ .captions-container > .caption-3 {
    transform: translateY(-9vw);
  }
  
  .control-4:checked ~ .captions-container > .caption-4 {
    transform: translateY(-13.5vw);
  }

}

@media only screen and (max-width: 464px) {
  
  .memes-outer {
    border-radius: 1.5vw;
  }

  .control {
    width: 5.5vw;
    height: 5.5vw;
    border-width: 1.7vw;
  }

  .captions-container {
    height: 5.5vw;
  }

  .caption {
    line-height: 5.5vw;
    font-size: 3.5vw;
  }

  .control-1:checked ~ .captions-container > .caption-1 {
    transform: translateY(0);
  }
  
  .control-2:checked ~ .captions-container > .caption-2 {
    transform: translateY(-5.5vw);
  }
  
  .control-3:checked ~ .captions-container > .caption-3 {
    transform: translateY(-11vw);
  }
  
  .control-4:checked ~ .captions-container > .caption-4 {
    transform: translateY(-16.5vw);
  }

}


@media only screen and (max-width: 380px) {
  
  .captions-container {
    height: 6vw;
  }

  .caption {
    line-height: 6vw;
    font-size: 4vw;
  }

  .control-1:checked ~ .captions-container > .caption-1 {
    transform: translateY(0);
  }
  
  .control-2:checked ~ .captions-container > .caption-2 {
    transform: translateY(-6.3vw);
  }
  
  .control-3:checked ~ .captions-container > .caption-3 {
    transform: translateY(-12.6vw);
  }
  
  .control-4:checked ~ .captions-container > .caption-4 {
    transform: translateY(-18.9vw);
  }

}